
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <p>New Here?</p>
        @Html.ActionLink("Create new user", "Create")
    </div>
    <hr />
    <div>
        <p>Already a User?</p>
        @Html.ActionLink("Login Here", "Login")
    </div>
</body>
</html>
